<!-- views/partials/_header.ejs -->
<header>
    <p ALIGN=CENTER>
        <h1>TinyApp</h1>
    </p>
    <div>
        <p>Just out here sacrificing URLs to the Red God</p>
        <% if (!currentUser.email) { %>
        <a href="/register"><button type="submit" class="btn btn-warning">REGISTER</button></a>
        <a href="/login"><button type="submit" class="btn btn-warning">LOGIN</button></a>
        <% }else { %>
        <%=currentUser.email%>
        <form class="form-inline" action="/logout" method="POST">
            <button type="submit" class="btn btn-warning">LOGOUT</button>
        </form>
        <% } %>
    </div>
</header>