<!DOCTYPE html>
<html lang="en">
<!-- views/partials/_header.ejs -->
<p ALIGN=CENTER>
    <h1>TinyApp</h1>
</p>
<div>
    <p>Just out here sacrificing URLs to the Red God</p>
</div>
<% if (currentUser.email) { %>
<h1> Valar Morghulis,
    <%=currentUser.email%>
</h1>
<form method="POST" action="/logout">
    <a href="#">
        <button type="submit" class="btn btn-warning">LOGOUT</button>
    </a>
</form>
<% } else{ %>
<form method="POST" action="/login">
    <h1> Speak a (user)name and the man will do the rest </h1>
    <input type="text" name="username">
    <a href="#">
        <button type="submit" class="btn btn-warning">LOGIN</button>
    </a>
    <% } %>
</form>
</div>
</div>
</nav>