<!-- views/partials/_header.ejs -->
<h1>TinyApp</h1>
<div>
    <p>Just shortening some links</p>
</div>
<form method="POST" action="/login">
    <label for="username">USERNAME</label>
    <input type="text" name="username" id="id">
<a href="#">
    <button type=" button" class="btn btn-warning">SUBMIT</button>
</a>
</form>
</div>
</div>
</nav>