<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body style="font-size:20px; padding:50px;">
    <p ALIGN=CENTER>
        <h1>TinyApp</h1>
    </p>
    <div>
        <i>"Just out here cutting URLs for fun, as one does..."</i>
    </div>
    <div style="margin-top:20px">
        <h3>LOGIN</h3>
    </div>
    <form class="form-inline" action="/login" method="POST">
        <input class="form-control" type="email" name="email" placeholder="EMAIL" style="width: 300px; margin: 1em">
        <input class="form-control" type="password" name="password" placeholder="PASSWORD" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-warning">LOGIN</button>
    </form>
    <div style="margin-top:5px">
        <p>Don't have an account? <a href="/register">join here.</p>
    </div>
</body>

</html>