<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<p ALIGN=CENTER>
    <h1>TinyApp</h1>
</p>
<div>
    <i>"Just out here sacrificing URLs to the Red God"</i>
</div>

<body style="font-size:20px; padding:50px;">
    <h3>Create Account</h3>
    <div class="form-group mb-2">
        <form class="form-inline" action="/register" method="POST">
            <label for="email">EMAIL:</label>
            <input class="form-control" type="email" name="email" style="width: 300px; margin: 1em">
            <label for="password">PASSWORD:</label>
            <input class="form-control" type="password" name="password" style="width: 300px; margin: 1em">
            <button type="submit" class="btn btn-warning">SUBMIT</button>
        </form>
    </div>
</body>