<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px">
    <header>
        <% include ../views/partials/_header.ejs  %>
    </header>
    <!-- THIS IS WHERE THE EJS CODE WILL GO -->
    <div>
        <a href="/urls/new">
            <div style="margin-top:10px">
                <h2>Yes, I would very much like to cut some URLs</h2>
            </div>
        </a>
    </div>
    <ul>
        <% for (let url in urls) { %>
        <li>
            <a href="#">
                <form method="POST" action="/urls/9sm5xK/delete">
                    <%= url %> -->
                    <%= urls[url].longURL %>
                </form>
                <a href="/urls/<%= url %>">
                    <button type="submit" class="btn btn-warning">EDIT</button>
                </a>
                <form method="POST" action="/urls/<%= url %>/delete">
                    <button type="submit" class="btn btn-warning">DELETE</button>
                </form>
        </li>
        <% }; %>
    </ul>
</body>

</html>